gatekeeper:
  title: "gatekeeper"
  paths: [
    "/Users/ryan/src/ama/gatekeeper"
  ]
api:
  title: "api"
  paths: [
    "/Users/ryan/src/ama/api"
  ]
membership:
  title: "membership"
  paths: [
    "/Users/ryan/src/ama/membership"
  ]
my_ama:
  title: "my_ama"
  paths: [
    "/Users/ryan/src/ama/my_ama"
  ]
